<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <p th:if="${errorMessage}" th:text="${errorMessage}" class="text-muted"></p>
        <p th:if="${successMessage}" th:text="${successMessage}" class="text-success"></p>
        <form th:action="@{/forget-password}" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Reset Password</button>
        </form>
        <form th:action="@{/reset-password}" method="post">
            <div class="form-group">
                <label for="token">Reset token:</label>
                <input type="text" id="token" name="token" minlength="64" maxlength="64" required>
            </div>
            <div class="form-group">
                <label for="new-password">New password:</label>
                <input type="password" id="new-password" name="new-password" required>
            </div>
            <button type="submit">Set New Password</button>
        </form>
        <p><a th:href="@{/}">Back to Home</a></p>
    </div>
</body>
</html> 